.footer {
    
    height:100px;
    width: 100%;
    background-color: plum;
    position: fixed;
    margin-top: 20px;
    bottom:0;
    left:0;
   
  
}
.mailto{

    float: left;
    padding: 40px 0 0 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;

}
.linkedin{
    width: 20px;
    height: 20px;
    float: right;
    margin: 40px 50px 40px 0;
   
}

.linkedin:hover{

    box-shadow: 0 0 6px 1px rgba(0, 140,186, 0.5);

    
}


@media only screen and (min-width: 1000px){
    .linkedin{
        width: 40px;
        height: 40px;
        padding: 0 80px 120px 0;
        
    }

    .mailto{

        padding: 40px 0 0 175px;
        font-size: 20px;
       
    }


}