<div class = "footer">
        <div class ="container content has-text-centered">
        <div class ="contact">
            <span class ="border">Contact</span>
            <h6>
                   
                    Paul de Lange: p.delange@next.youngcapital.nl

            </h6>

            <h6>
                    Mandy van der Steen: m.vandersteen@next.youngcapital.nl
            </h6>
        
        </div>
        
        
        <a href="https://www.linkedin.com/in/cintia-van-den-berg">
            <img class= "linkedin" src="assets/img/linkedin.png" alt="LinkedIn icon">
        </a>
        </div>
    </div>
