<div class="body">

<img class= "profielfoto" src="assets/img/profielfoto.jpg" alt="Profielfoto">
</div>

<div class="tekst">
<p> 
              Hi, welkom!

              Mijn naam is Cintia van den Berg. Ik ben in Indonesië geboren, op het eiland Java. Ik ben op mijn tiende verhuisd naar Nederland samen met mijn moeder. Als kind van twee culturen weet ik dat de wereld niet zwart-wit is. Ik heb een groot aanpassingsvermogen en ik houd van veranderingen. Ik vind het belangrijk om voldoening te krijgen uit mijn werk. 40 uur in de week is namelijk 23,8095% van mijn week en deze wil ik graag goed doorbrengen. ;) <br><br>
              
              Voordat ik met de Java Traineeship ben begonnen bij Young Capital Next, was ik werkzaam in het ziekenhuis. Het gaf me voldoening om iets voor iemand anders te kunnen betekenen maar toch miste ik creativiteit. Toen ontdekte ik de IT-branche. Ik kwam erachter dat ik binnen deze branche zowel iets voor iemand anders kan betekenen als creatief bezig kan zijn met een lading aan innovatie. Creativiteit, innovatie en iets voor een ander kunnen betekenen zijn de dingen die mij blij maken en daarom heb ik gekozen om een switch te maken naar de IT-branche. <br><br>
              
              Sinds kort ben ik niet alleen een Javaan qua etniciteit maar ook als programmeur. Ik wil graag mijn IT-kennis verruimen en in de parktijk brengen. Kan je hierin wat voor mij betekenen? Neem dan contact op met mijn Accountmanagers Paul de Lange en Mandy van der Steen van Young Capital Next, hun e-mailadres vind je onder het kopje contact. Bedankt alvast! :)
</p>
</div>
<div class="push"></div>

