
<div class="opleiding">

    <div class="index-box-1">

    <h1>Opleiding</h1>
    </div>

    <div class="opleidingen">
    <h2>Java Traineeship</h2>
    <p>YoungCapital NEXT</p>

    <h2>HBO-Verpleegkunde</h2>
    <p>Hogeschool Leiden</p>

    <h2>Bachelor Archeologie</h2>
    <p>Universiteit Leiden</p>

    <h2>VWO Cultuur & Maatschappij</h2>
    <p>Teylingen College Leeuwenhorst</p>

    <br>
    </div>

    <div class="index-box-2"><h1>Cursussen</h1></div>

    <div class="cursussen">
    <h2>Learn Java</h2>
    <p> via Codecademy</p>
    <h2>Learn how to code</h2>
    <p> via Codecademy</p>

    <h2>Basic HTML and HTML 5</h2>
    <p>via Freecodecamp</p>
    <h2>Basic CSS</h2>
    <p>via Freecodecamp</p>

    <br>

    </div>

    <div class="index-box-3"><h1>Diplomas & Certificaten</h1></div>

    <div class="diploma">
    <h2>Oracle Certified Associate, Java SE <br> 8 Programmer</h2>
    <a href=" https://www.youracclaim.com/badges/01b426f4-7caf-4471-997f-9fb4150cb553/linked_in_profile">Certificaat</a>
    <h2>Professional Scrum Master</h2>
    <a href=" https://www.scrum.org/certificates/479427">Certificaat</a>
    <h2>Bachelor Archeologie</h2>
    <h2>VWO Cultuur en Maatschappij</h2>
    <div class="push"></div>
    </div>
</div>