<div class="lijst_werkervaring">

<div class= "werkervaring">
    <img class="image_normal" src="assets/img/ycnext.jpg" alt="YoungCapital-logo">
    
    
        <p>
        Young Capital Next <br>Java Trainee <br>Okt. 2019 - nu<br>
        </p>
    
</div>

<div class= "werkervaring">
    <img class="image_normal" src="assets/img/mike-meyers-unsplash.jpg" alt="Gele-telefoon">
    
    
        <p>
        Leidse Onderwijsinstellingen <br>Medewerker klantenservice <br>Aug.2018 - Feb.2019<br>
        </p>
    
</div>



<div class= "werkervaring_hmc">
    <img class="image_normal" src="assets/img/hmc-logo.png" alt="HMC-logo">
        <p>
        HMC<br>Leerling verpleegkunde <br>Sep. 2016 - Jun. 2018<br>
        </p>
</div>

<div class= "werkervaring_foto">
    <img class="image_normal" src="assets/img/papua.JPG" alt="papua">
        <p>
        Balai Archeologi Indonesia<br>Stagiair archeologie <br>Jun. 2012 - Jul. 2012<br>
        </p>
</div>

<div class= "werkervaring_foto">
    <img class="image_normal" src="assets/img/Mexico03.jpg" alt="mexico">
        <p>
        Universiteit Leiden<br>Stagiair archeologie <br>Mei 2011 - Jun. 2011<br>
        </p>
</div>

<div class= "werkervaring">
    <img class="image_normal" src="assets/img/logo_volkenkunde.jpeg" alt="volkenkunde-logo">
        <p>
        Museum Volkenkunde<br>Stagiair archeologie <br>Jan. 2011 - Maart 2011<br>
        </p>
    </div>
    
</div>

<div class="push"></div>








