
<div class="hobby_lijst">
    <div class="index-box-hobby">
        <h1>Hobby</h1>
    </div>
    <div class="tekst"> 
        <p>In mijn vrije tijd speel ik graag spellen, zowel digitale spellen als bordspellen. Daarnaast vind ik het leuk om te puzzelen, snowboarden en reizen. Ik vind het leuk om te puzzelen en spelletjes te doen omdat het mij intellectueel uitdaagt om een doel te bereiken. Hieronder heb ik de klassieker boter, kaas en eieren gemaakt. Daag een vriend(in), collega, ouder, huisdier of buur uit voor een potje en kijk wie er wint!
        </p>
    </div>
    <div class="spel">
        <app-board></app-board>
    </div>
</div>