h1{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:20px;
text-align: center;
text-transform: uppercase;
}

button{

  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 20px 0 

}

main{
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-gap: 0px;

    margin:20px 25px 20px 55px
}

app-vierkant{
    border: 1px gray solid;
    height: 60px;

}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
}

.push{
    height: 70px;
}

@media only screen and (min-width: 1000px){

    h1{
        
        font-size:30px;
        text-align: left;
      
    }

    h2{
        
        font-size: 16px;
        text-align: left;
    }

    .push{
        height: 100px;
    }
    
}


